@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto';
}

body {
    height: 100vh;
    width: 100%;
}

nav {
    background-color: #f5f7fa;
    padding: 20px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #263138;
}

.name {
    font-size: 30px;
    font-weight: 800;
}

li {
    display: inline-block;
}

li a {
    font-size: 18px;
    font-weight: 400;
    margin-right: 25px;
    color: #263138;
}

@media screen and (max-width: 600px) {
    body {
        background-color: aqua;
    }
}
