@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto';
}

body {
    height: 100vh;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: #f5f7fa;
    color: #263138;
}

.nav-container {
    margin: 0 auto;
    padding: 20px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 30px;
    font-weight: 800;
}

li {
    display: inline-block;
}

li a {
    font-size: 18px;
    font-weight: 400;
    margin-right: 25px;
    color: #263138;
}

.welcome-section {
    background-color: #f5f7fa;
    width: 100%;
    height: 100vh;
    padding: 80px 9% 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 70px;
}

.welcome-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

p {
    color: #445964;
    font-weight: 500;
    font-size: 14px;
}

h1 {
    color: #445964;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 55px;
}

.redes {
    margin: 120px 0 0 0;
    display: flex;
    gap: 18px;
}

.redes img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.welcome-right img {
    width: 500px;
    max-width: 100%;
}

@media screen and (max-width: 600px) {
    body {
        background-color: aqua;
    }
}
