@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #212d40;
  color: #f5f6f7;
  font-family: "Roboto";
  font-size: 16px;
  padding-bottom: 2em;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

div {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding: 1em 4em 0 4em;
  border-radius: 5%;
  background-color: #11151c;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem auto;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #212d40;
  border: 1px solid #212d40;
  color: #ffffff;
}

input[type="radio"],
input[type="checkbox"] {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}
