@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Roboto;
    /*user-select: none;*/
}

:root {
    --color-primary: #003f98;

    --bg-0: #f6f4f4;
    --bg-1: #f0f0f0;
    --bg-2: #cccccc;

    --text-1: #1a1a1a;
    --text-2: #424242;
    --text-3: #666666;

    --shadow: #1a1a1a;
    --border: #cccccc;

    --text-section3-1: #f0f0f0;
    --text-section3-2: #cccccc;
    --text-section3-3: #666666;
}

[data-theme='dark'] {
    --color-primary: #003f98;

    --bg-0: #282828;
    --bg-1: #1e1e1e;
    --bg-2: #121212;

    --text-1: #f0f0f0;
    --text-2: #cccccc;
    --text-3: #aaaaaa;

    --shadow: #090909;
    --border: #171717;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-primary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px 10px 30px;
    z-index: 1000;
    box-shadow: 0 1px 7px var(--shadow);
}

.header-logo {
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

#header-img {
    height: 50px;
}

#nav-bar {
    display: flex;
    gap: 20px;
    font-size: 1.1em;
}

.nav-link {
    color: white;
}

main {
    padding-top: 90px;
    background-color: var(--bg-1);
}

main h2 {
    color: var(--text-1);
}

main h3 {
    color: var(--text-2);
}

main p {
    color: var(--text-3);
}

section {
    padding: 40px 20px;
    width: 100%;
    margin: auto;
}

#section1 {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.diferenciais-img {
    height: 50px;
}

.diferenciais {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

.desc h2 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.desc p {
    line-height: 1.5;
    padding: 5px 0 0 10px;
}

#section2 h2 {
    text-align: center;
}

#video {
    width: 100%;
    max-width: 560px;
    height: 315px;
    display: block;
    margin: 20px auto;
}

#section3 {
    background-color: #121212;
}

#section3 h2 {
    color: var(--text-section3-1);
    font-size: 2.5em;
    padding-left: 20px;
    margin-bottom: 50px;
    font-weight: 800;
}

#section3 h3 {
    color: var(--text-section3-2);
    font-size: 1.4em;
    padding-left: 20px;
    font-weight: 600;
}

.section3-p {
    color: var(--text-section3-3);
    padding: 2px 0 0 20px;
    font-size: 1.2em;
}

.categorias {
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    padding-top: 5px;
}

.impressora {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 0 300px;
    margin: 10px 0;
    border: 0.5 px solid var(--text-3);
    border-radius: 6px;
    background-color: #ebebed;
    justify-content: space-between;
    padding-bottom: 16px;
}

.impressora p {
    font-size: 15px;
    text-align: center;
    padding: 0 15px 15px 15px;
    color: var(--text-section3-3);
}

.modelo {
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px 5px 0 0;
}

.impressora-img {
    max-width: 280px;
}

.btn {
    display: inline-block;
    padding: 10px;
    background-color: var(--color-primary);
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    bottom: 2px;
}

#signup {
    min-height: 60vh;
    text-align: center;
    padding: 30px 5px 5px 5px;
    border-radius: 12px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signup h2 {
    font-size: 2rem;
    margin-bottom: 5px;
    font-weight: 800;
}

#signup h4 {
    font-size: 1.2rem;
    margin-bottom: 35px;
    color: var(--text-3);
    font-weight: 500;
}

#signup p {
    margin: 5px 0;
    font-size: 1.2rem;
}

#signup form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
    margin-top: 45px;
}

#form h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.email {
    width: 360px;
    height: 40px;
    border-radius: 8px;
    border: 1.5px solid var(--border);
    font-family: Roboto;
    padding: 6px;
    outline: none;
    background-color: var(--bg-0);
    color: var(--text-3);
    font-size: 1em;
    font-weight: 500;
}

.submit {
    width: 360px;
    height: 35px;
    color: #ffffff;
    border-radius: 8px;
    border: 2px;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    padding: 6px 20px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 1em;
}

#signup input::placeholder {
    color: var(--text-3);
    font-size: 1em;
    font-weight: 500;
}

.site-footer {
    background-color: var(--bg-2);
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: var(--text-3);
}

.site-footer a {
    color: var(--text-2);
    font-weight: bold;
}

#toggle-theme {
    position: fixed; /* flutua sempre */
    top: 14px; /* distância do topo */
    right: 18px; /* distância da direita */
    z-index: 1000;

    background: #2b2e34; /* grafite */
    color: #ffffff; /* mantém emoji visível */
    border: none;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    font-size: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
    transition: background 0.3s ease, transform 0.2s ease;
}

#toggle-theme:hover {
    background: #3a3f46; /* leve destaque */
    transform: scale(1.1);
}

#toggle-theme:active {
    transform: scale(0.95);
}

@media (max-width: 600px) {
    #header {
        flex-direction: column;
        padding: 7px 30px 10px 30px;
        gap: 10px;
    }

    li a {
        margin-right: 15px;
        font-size: 16px;
    }

    #toggle-theme {
        right: 14px;
    }

    #section1 {
        padding: 30px 30px 20px 30px;
    }

    #section2 {
        padding: 40px 15px;
    }

    #section2 h2 {
        font-size: 1.3em;
    }

    .section3-p {
        font-size: 1em;
    }

    #signup {
        padding: 40px 30px;
    }
}
