@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Roboto;
}

:root {
    --color-primary: #003f98;

    --bg-1: #f0f0f0;
    --bg-2: #cccccc;

    --text-1: #1a1a1a;
    --text-2: #424242;
    --text-3: #666666;
}

[data-theme='dark'] {
    --color-primary: #003f98;

    --bg-1: #1e1e1e;
    --bg-2: #121212;

    --text-1: #f0f0f0;
    --text-2: #cccccc;
    --text-3: #aaaaaa;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-primary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000;
}

.header-logo {
    display: flex;
    align-items: center;
}

#header-img {
    height: 50px;
}

#nav-bar {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: white;
}

main {
    padding-top: 90px;
    background-color: var(--bg-1);
}

main h2 {
    color: var(--text-1);
}

main h3 {
    color: var(--text-2);
}

main p {
    color: var(--text-3);
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

#section2 h2 {
    text-align: center;
}

.diferenciais-img {
    height: 50px;
}

.diferenciais {
    display: flex;
    gap: 10px;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    gap: 10px;
}

#video {
    width: 100%;
    max-width: 560px;
    height: 315px;
    display: block;
    margin: 20px auto;
}

.categorias {
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}

.impressora {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 0 280px;
    margin: 10px 0;
    border: 0.5 px solid var(--text-3);
    border-radius: 3px;
    background-color: #cccccc;
}

.impressora p {
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
    color: #666666;
}

.modelo {
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.impressora-img {
    max-width: 250px;
}

form {
    display: flex;
    gap: 10px;
    max-width: 400px;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--color-primary);
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.site-footer {
    background-color: var(--bg-2);
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: var(--text-3);
}

.site-footer a {
    color: var(--text-2);
    font-weight: bold;
}
